//Import
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

//Variables
$rust: #C63D0F;
$grey: #3B3738;
$cream: #FDF3E7;
$moss: #7E8F7C;
$orange: #EB7118;
$beige: #DDCEC4;
$sage: #7EAB93;

//Base Styles
body{
    font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: $cream;
    color: $grey;
}

//Class Styles

//ID styles


