//Import
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

//Variables
$rust: #C63D0F;
$grey: #3B3738;
$cream: #FDF3E7;
$moss: #7E8F7C;
$orange: #EB7118;
$beige: #DDCEC4;
$sage: #7EAB93;

//Base Styles
body{
    font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: $grey;
    padding: 0;
}

nav{
    background-color: $cream;
    color: $rust;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.navbar{
    flex-direction: row;
    align-items: center;
}

nav div{
    display: inline-flex;
}

// div{
//     border: 2px solid $orange;
// }

main{
    margin-top: 115px;
}

footer{
    background-color: $rust;
    color: $cream;
    text-decoration: none;
    font-variant: small-caps;
}

footer a:active {
    color: $cream;
}
footer a:hover {
    color: $cream;
    text-decoration: none;
}

#news-data li {
    list-style-type: none;
} 

//Class Styles
.brand{
    color: $rust;
    text-transform: uppercase;
    text-align: center;
}

.login{
    text-align: right;
}

.wrap{
    min-height: calc(100vh - 150px);
}

//ID styles


