//Import
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

//Variables
$rust: #C63D0F;
$grey: #3B3738;
$cream: #FDF3E7;
$moss: #7E8F7C;
$orange: #EB7118;
$beige: #DDCEC4;
$sage: #7EAB93;
$white: #ffffff;

//Base Styles
body{
    font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5rem; 
    color: $grey;
    padding: 0;
}

// h5 {
//     font-size: 16px;
// }

nav{
    background-color: $cream;
    color: $rust;
    justify-content: space-between;
    height: 4rem;
}

nav div{
    display: inline-flex;
}


// div{
//     border: 2px solid $orange;
// }

main{
    margin-top: 80px;
}

footer{
    margin-top: 2rem;
    padding-top: 15px;
    background-color: $rust;
    color: $cream;
    text-decoration: none;
    font-variant: small-caps;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 2rem;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1000;
  
}

footer a{
    color: $cream;
    display: inline-flex;
}
footer a:hover {
    color: $cream;
    text-decoration: none;
}

footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
}

h1{
    font-size: 30px;
    color: $rust;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 18px;
    color: $grey;
    font-weight: bolder;
}

//Class Styles
.navbar{
    flex-direction: row;
    align-items: center;
}

.brand{
    color: $rust;
    text-transform: uppercase;
    text-align: center;
}

.login{
    text-align: right;
}

.wrap{
    margin-bottom: 160px;
}

.row {
    margin-left: 1rem;
    margin-right: 1rem;
}

.profPic{
    height: 40px;
    width: 40px;
    align-self: center;
}

.btnGrey{
    background-color: $grey;
    color: $white;
}
.btnGrey{
    background-color: $grey;
    color: $white;
}

.btnRust{
    background-color: $rust;
    color: $white;
    padding: 1em;
}

.sageBG{
    background-color: $sage;
    padding: 0rem 1.5rem;
}

.quote{
    width: 60%;
    padding: 1em;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
}
/* use for profile list  */
.item-list {
    width: auto;
}

.footer-row{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2rem;
}


//ID styles
#news-data li {
    list-style-type: none;
} 

#weather,
#homeBooks{
    background-color: $orange;
    padding: 2em;
}

#homeMeetups, #heroNews{
    background-color: $sage;
    padding: 2em;
}

#news-data{
    padding: 1em 2em 0em 2em;
}

#temp{
    font-size: 5rem;
    line-height: 6rem;
    color: $white;
}

.temp {
    color: $white;
}

#heroImg{
    max-width: 100%;
    overflow: hidden;
}